@charset "utf-8";

/* CSS Reset */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}s

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

:focus {
    outline: 0;
}

ins {
    text-decoration: none;
}

del {
    text-decoration: line-through;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* Basic Elements */

html {
    height: 100%;
    overflow: hidden;
}

body {
    font: 14px/25px "微軟正黑體";
    color: #292929;
    height: 100%;
}

label {
    cursor: pointer;
    font-weight: bold;
    margin-bottom: 5px;
    display: inline-block;
}

input,select {
    padding: 6px 12px;
    border: 2px solid rgba(0,0,0,0.1);
    width: 100%; /*調整*/
    font-family: inherit;
    font-weight: bold;
    font-size: 15px;
    background-color: #ffffff;
    color: #292929;
    box-sizing: border-box;
    -webkit-box-sizing:border-box;
    -moz-box-sizing: border-box;
}

input:-webkit-autofill,input:-webkit-autofill:hover,input:-webkit-autofill:focus,input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0px 1000px #ffffff inset;
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: #292929;
}

/* Basic Layout */

.wrapper {
    height: 100%;
    overflow: hidden;
}

.header {
    box-shadow: 0 -1px 0 rgba(0,0,0,0.1) inset;
    background-color: #12BDBC;
    padding: 0px 60px;
    color: white;
}

.content {
    height: calc(100% - 60px);
}

/* Header */

.logo {
    float: left;
    margin: 10px auto;
    padding-right: 20px;
    border-right: 2px solid #fff;
}

.logo a {
    display: block;
    background: url(../img/logo.png) no-repeat;
    height: 40px;
    width: 150px;
    text-indent: -9999px;
}

.source {
    float: left;
    margin-top: 25px;
    margin-left: 20px;
    font-size: 13px;
}

.source a {
    text-decoration: none;
    color: #fff;
    font-weight: bolder;
}

.source a:hover {
    text-decoration: underline;
}

.menu {
    float: right;
}

.menu li {
    float: left;
}

.menu a {
    color: white;
    display: block;
    text-decoration: none;
    padding: 17.5px 20px;
    font-size: 15px;
}

.menu a:hover {
    background-color: #0FA7A6;
}

.menu a span {
    margin-left: 8px;
}

/* Filter */

.filter {
    background: rgba(37,37,37,0.9);
    position: absolute;
    width: 350px;
    padding: 30px;
    right: 53px;
    top: 68px;
    z-index: 9999;
}

.filter-arrow {
    border-width: 17px;
    border-style: solid;
    border-color: transparent transparent rgba(37,37,37,0.9) transparent ;
    position: absolute;
    top: -34px;
    right: 40px;
}

.search {
    width: 100%;
    background-color: #12BDBC;
    padding: 6px 12px;
    font-weight: bold;
    color: #ffffff;
    font-size: 17px;
    font-family: FontAwesome,微軟正黑體;
    border: 2px solid #12BDBC;
    cursor: pointer;
}

.search:hover {
    background-color: #0f9c9b;
    border-color: #0f9c9b;
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

.filter li {
    margin-bottom: 20px;
}

.city,.starttime {
    width: 170px;
    float: left;
    margin-right: 5px;
}

.district,.endtime {
    width: 170px;
    float: left;
    margin-left: 5px;
}

/* Info */

.info {
    height: 100%;
    width: 500px;
    float: left;
    overflow-y: scroll;
}

/* List */

#list li {
    border-bottom: 1px solid #d2d2d2;
}

#list a {
    display: block;
    text-decoration: none;
    color: #292929;
    padding: 20px 10px;
}

#list a:hover {
    background-color: rgba(210, 210, 210, 0.2);
}

.photo {
    float: left;
    margin-right: 20px;
}

.activity-info {
    float: left;
    width: calc(100% - 94px);
}

.activity-info h2 {
    font-weight: bold;
    font-size: 16px;
    border-bottom: 1px solid #d2d2d2;
    padding-bottom: 8px;
    margin-bottom: 10px;
}

.activity-info li {
    margin-bottom: 3px;
    border-bottom: 0px !important;
}

.activity-info li:nth-child(3) {
    margin-bottom: 0px;
}

.activity-info li i {
    margin-right: 15px;
    color: #656565;
}

.activity-info li:nth-child(3) i {
    margin-left: 4px;
    margin-right: 18px;
}

.activity-btn {
    margin-top: 15px;
}

.activity-btn button {
    font-family: "微軟正黑體";
    font-weight: bold;
    border: 0px;
    background-color: transparent;
    color: #292929;
    font-size: 14px;
    padding: 0px;
    cursor: pointer;
}

.activity-btn button img {
    margin-right: 5px;
    vertical-align: bottom;
}

.add-calendar {
    float: right;
    margin-right: 20px;
}

.add-calendar:hover{
    color: #cd3f31;
}

.favorite {
    vertical-align: top;
}

.favorite:hover {
    color: #c0392b;
}

.route {
    float: right;
}

.route:hover {
    color: #38447e;
}

.reset {
    background-color: #ffffff;
}

#list .selected {
    border: 1px solid #12BDBC;
    background-color: #f1ffff;
}

/* Map */

#map-list {
    height: 100%;
    width: calc(100% - 500px);
    float: left;
}

#map-list .activity-info {
    width: 430px;
    height: auto;
    margin: 15px 10px 5px 10px;
    font-family: "微軟正黑體";
}

#map-list .activity-info li {
    font-size: 14px;
}

/* No Result */

.noresult {
    background-color: #D2D2D2;
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    width: 500px;
    float: left;
}

.noresult img {
    width: 130px;
    margin: 120px 183px 30px 183px;
}

.noresult h2 {
    text-align: center;
    font-size: x-large;
    font-weight: bold;
}

/* Clear Float */

.clearfix:before, .clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
  *zoom: 1; /* For IE 6&7 only */
}

/* Scroll View*/

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    -webkit-border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    margin:0px 0 5px 0;
}

::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
    -webkit-border-radius: 4px;
    box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
    border-radius: 10px;
}

/* RWD*/

@media only screen and (max-width: 1085px) {
    
    #map-list {
        width: calc(100% - 430px);
    }
    
    .info {
        width: 430px;
    }
    
    #list a {
        padding: 20px;
    }

    .photo {
        display: none;
    }
    
    .activity-info {
        width: 100%;
    }
    
    #map-list .activity-info {
        width: auto;
        max-width: 430px;
        min-width: 375px;
    }
}

@media only screen and (max-width: 940px) {

    #map-list .activity-info {
        min-width: 375px;
    }

}   

@media only screen and (max-width: 768px) {
    
    .header {
        padding: 0px;
    }
    
    .logo {
        margin: 10px 20px;
    }
    
    .info {
        width: 100%;
    }
    
    .source {
        margin: 0px;
    }
       
}

@media only screen and (max-width: 600px) {
    
    .header {
        padding: 0px;
    }
    
    .logo {
        border: 0px;
        padding: 0px;
    }
    
    .source {
        display: none;
    }
    
}

@media only screen and (max-width: 320px) {
    
    .menu a span {
        display: none;
    }
    
    .menu a {
        padding: 17.5px 14px;
        font-size: 18px;
    }
       
}
